.property-listings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.property-listing {
  margin: 20px 0;
  padding: 2em;
  width: 100%;
  max-width: 50rem;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  border-radius: 10px;
  border: 1px solid $grey;
  box-shadow: 0px 10px 50px rgb(218, 218, 218);

  &__title {
    font-size: 1.5rem;
  }
  &__preview-image {
    overflow: hidden;
    max-width: 50%;
    img {
      height: 100%;
    }
  }

  &__details {
    text-align: left;
    width: 50%;
    margin-left: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__specificdetails {
    width: 100%;
    list-style-type: none;
    text-align: left;
    padding: 0;
  }

  &__footer {
    order: 3;
    width: 100%;

    .btns-container {
      display: flex;
      margin-top: 1em;
      flex-wrap: wrap;
      justify-content: space-between;

      * {
        width: auto;
      }
    }
  }

  .review_details {
    font-weight: 700;
    color: green;
    transition: all 300ms ease-in-out;
  }

  .review_details:hover {
    color: blue;
    cursor: pointer;
  }

  .reserve-button {
    order: 4;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .property-listing {
    flex-direction: column;
    height: 400px;
  }
}
