@font-face {
  font-family: "Apercu Light";
  src: url("../assets/Apercu\ Pro\ Light.otf");
}

@font-face {
  font-family: "Apercu Regular";
  src: url("../assets/Apercu\ Pro\ Regular.otf");
}

@font-face {
  font-family: "Apercu Medium";
  src: url("../assets/Apercu\ Pro\ Medium.otf");
}
