#login-form,
#sign-up-form {
  box-shadow: $shadow;
  border-radius: 10px;
  border: 1px solid $grey;
  padding: 3em;

  p {
    font-family: $brand;
    font-size: 3.5rem;
    margin-top: 0;
  }

  input,
  button {
    margin-top: 1em;
  }
}

.search-property-form,
.login-form,
.new-property-form,
.sign-up-form,
.update-reservation-form {
  padding: 3em;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 500px;

  &__field-wrapper {
    width: 100%;
    display: flex;
  }

  &__field-wrapper:last-of-type {
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  label {
    display: none;
  }

  textarea,
  select,
  input,
  label {
    width: 100%;
  }
}
