// Set variables
$fontlight: "Apercu Light";
$fontreg: "Apercu Regular";
$fontmed: "Apercu Medium";
$brand: "Pacifico";
$black: rgb(24, 24, 24);
$grey: rgb(213, 213, 213);
$cream: rgb(250, 249, 245);
$shadow: 0px 10px 50px #dadada;
$blue: rgb(100, 132, 171);

body,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 56px;
}

h1,
h2,
h3,
a,
button,
footer {
  font-family: $fontmed;
}

button,
a {
  cursor: pointer;
  transition: 300ms ease;
}

p,
ul li {
  font-family: $fontreg;
}

button {
  padding: 1em 3em;
  width: 200px;
  outline: none;
  background-color: $blue;
  border-radius: 2px;
  border: 0px;
  color: $cream;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
