// Set variables
$fontlight: "Apercu Light";
$fontreg: "Apercu Regular";
$fontmed: "Apercu Medium";
$black: rgb(24, 24, 24);
$grey: rgb(213, 213, 213);
$cream: rgb(247, 245, 239);

body,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  background-color: $cream;
  height: 100%;
}

h1,
h2,
h3,
a,
button,
footer {
  font-family: $fontmed;
}

button,
a {
  cursor: pointer;
}

p,
ul li {
  font-family: $fontlight;
}

button {
  padding: 1em 3em;
  width: 200px;
  outline: none;
  background-color: $black;
  border-radius: 2px;
  border: 0px;
  color: $cream;
  transition: 300ms ease;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
