@import "global";

.page-header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $cream;
  border-bottom: 1px solid black;

  &__user-links {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-family: "Anton";
      text-transform: uppercase;
      font-size: 2rem;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin: 0 1rem;
        padding: 0;
        cursor: pointer;

        &:last-of-type {
          font-weight: 800;
        }
      }
    }
  }
}
